@font-face {
    font-family: IBM Plex Mono;
    src: url(IBMPlexMono-Regular.ttf);
}

* {
    margin: 0; 
    padding: 0; 
    font-family: IBM Plex Mono;
}

/* HEADER STYLES */

header > a {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
    color: black;
    text-decoration: none;
}

header > a:hover {
    opacity: 50%;
    transition: 0.3s
}

/* MENU BAR */

#newentry {
    float: right;
}

/* menubar from w3schools */
#menubar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; 
    transition: 0.3s; 
}
  
  /* The navigation menu links */
#menubar > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
  
  /* When you mouse over the navigation links, change their color */
#menubar > a:hover {
    color: black;
}
  
  /* Position and style the close button (top right corner) */
#menubar > .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#month {
    margin: 5px 0px 10px 5px;
    /* margin-left: 3%; */
}

section {
    padding: 2%;
    box-sizing: border-box;
}

#header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

#details {
    position: absolute;
    top: 30%;
    left: 47.5%;
    transform: translate(-50%, -50%);
}

#details > #email {
    padding-top: 60%;
}

#details > #username {
    padding-top: 20%;
    padding-bottom: 20%;
}

button {
    box-sizing: border-box;
    width: 120px;
    height: 45px;
    font-size: 20pt;
    color: white;
    background-color: #51A1EC;
    border-radius: 10px;
    border: 0px;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#buttons {
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
}

