@font-face {
    font-family: IBM Plex Mono;
    src: url(IBMPlexMono-Regular.ttf);
}

* {
    margin: 0; 
    padding: 0; 
    font-family: IBM Plex Mono;
}

a {
    color: #51A1EC;
}

a:visited {
    color: #51A1EC;
}

.container {
    height: 150px;
    position: relative;
  }

.center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#signupbox {
    box-sizing: border-box;
    position: absolute;
    margin: auto; 
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    height: 500px;
    width: 350px;
    padding: 20px;
}

#signupbox > h1 {
    text-align: center;
    padding: 20px;
}

#signupform, #signupform > form, #signupform > form > input {
    box-sizing: border-box;
    width: 100%;
}

#signupform > form > input {
    height: 45px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 10px 0px;
    padding: 10px;
}

#signupform > form > input:focus {
    outline: none;
}

#signupform > form > label {
    box-sizing: border-box;
    font-size: 10pt;
}

#login {
    font-size: 8pt;
    text-align: center;
}

.wrapper {
    text-align: center;
}

button {
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    margin-left: 210px;
    font-size: 14pt;
    color: white;
    background-color: #51A1EC;
    border-radius: 10px;
    border: 0px;
}

button:hover {
    cursor: pointer;
}

#cancelbutton {
    position: absolute;
    top: 75.6%;
    left: 48%;
    background-color: #EC5151;
}
