section {
    padding: 2%;
    box-sizing: border-box;
}

/* ENTRIES */ 
#entrysect {
    margin: 10px 0px;
}

#entries {
    height: auto;
    width: auto;
    margin: 10px;
}

.entry {
    box-sizing: border-box;
    margin: 0px 10px 20px 5px;
    background-color: var(--box-color);
    width: 100%;
    height: 100px;
    padding: 15px;
    border-radius: 30px;
}

.entry > .description, .entry > .date {
    padding-left: 20px;
}

.entry > .category, .entry > .amount {
    float: right; 
    padding-right: 20px;
}

.entry> .description, .entry > .category {
    font-size: 30px;
}

.entry:hover {
    background-color: var(--box-color-dark);
    cursor: pointer;
    transition: 0.5s;
}