<!-- copy this header to other pages -->
<header>
    <a id="menubutton" onclick="openNav();">menu</a>
    <!-- <a id="newentry" href="newentry.html">new entry</a>  -->
    <a id="newentry" href="/newentry">new entry</a>
</header>

<div id="menubar">
    <a onclick="closeNav()" class="closebtn">x</a>
    <a href="index.html">home</a>
    <a href="viewexpenses.html">view expenses</a>
    <a href="viewsavings.html">view savings</a>
    <a href="login.html">sign out</a>
    <a href="viewaccount.html">view account</a>
</div>