<!-- copy this header to other pages -->
<header>
    <a id="menubutton" onclick="openNav();">menu</a>
    <!-- <a id="newentry" href="newentry.html">new entry</a>  -->
    <a id="newentry" href="/new-entry">new entry</a>
</header>

<div id="menubar">
    <a onclick="closeNav()" class="closebtn">x</a>
    <a href="/">home</a>
    <a href="/view-expenses">view expenses</a>
    <a href="/view-savings">view savings</a>
    <a href="/login">sign out</a>
    <a href="/account">view account</a>
</div>