<html>

<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="css/universalstyles.css">
    <link rel="stylesheet" href="css/homestyle.css">
</head>

<body>
    <script src="scripts/navscript.js"></script>

    {{> nav}}

   {{{ body }}}

</body>

</html>