<html>

<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/css/universalstyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <script src="/scripts/navscript.js"></script>

    {{> nav-no-newentry}}

    {{{ body }}}

</body>

</html>