<link rel="stylesheet" href="/css/aboutstyle.css">

<section>
    <div id="about">
        <h1 id="abouthead">About</h1>
        <p id="abouttext1">
            This web app is an online expense tracker created in partial
            fulfillment of the requirements of CCAPDEV S11 Term 2 AY 2021-2022.
            Users can log in their expenses, savings, and income and track
            their balance in real time. They can also set budget and savings goals
            and update them at any time.
        </p>
        <p id="abouttext2">Created by Go, Eldrich, Opalla, Rijan, and Oquias, Sophia</p>
    </div>
    
    <div id="package">
        <h1 id="packagehead">Node Packages used:</h1>
        <ul id="packagelist">
            <li>Express</li>
            <li>MongoDB</li>
            <li>Mongoose</li>
            <li>express-handlebars</li>
            <li>express-session</li>
            <li>connect-mongo</li>
            <li>express-validator</li>
            <li>connect-flash</li>
            <li>nodemon</li>
            <li>bcrypt</li>
            <li>dotenv</li>
        </ul>
    </div>
</section>