<link rel="stylesheet" href="/css/accountstyle.css">

<section>
    <h1 id="header">Account Details</h1>

    <div id="details">
        <div class="info">
            <label>Email:&nbsp &nbsp</label>
            <input id="emailinput" type="email" value="email_email@email.com"><br>
        </div>
        <div class="info">
            <label>Username: </label>
            <input id="nameinput" type="text" value="myusernmaeiscool"><br>
        </div>
        <div class="info">
            <label>Password: </label>
            <input id="passinput" type="password" value="************">
        </div>
    </div>


    <div id="buttons">
        <a href="/account">
            <button id="edit">Cancel</button>
        </a>

        <a href="/account"> <!-- change later -->
            <button id="logout">Confirm</button>
        </a>
    </div>

</section>