<link rel="stylesheet" href="/css/accountstyle.css">
<script src="/scripts/edit-account.js"></script>

<section>
    <h1 id="header">Account Details</h1>

    <form method="post" action="/account/edit/confirm">
        <div id="details">
            <div class="info">
                <label>Email:&nbsp &nbsp</label>
                <input name="email" id="email" type="email" value="{{email}}"><br>
            </div>
            <div class="info">
                <label>Username: </label>
                <input name="username" id="username" type="text" value="{{username}}"><br>
            </div>
        </div>
        
        <p id="error" style="text-align: center"></p>

        <div id="buttons">
            <a href="/account">
                <button id="edit">Cancel</button>
            </a>
            <button id="confirm" type="submit">Confirm</button>
        </div>
    </form>

</section>