<div id="loginbox">
    <h1>Welcome!</h1>

    <div id="loginform">
        <form action="/login" method="post">
            <label>Username</label><br>
            <input name="username" id="username" type="text"><br>
            <label>Password</label><br>
            <input name="password" id="password" type="password">
            <p>Don't have an account? Click here to <a href="/signup">Sign Up</a>!</p>
            <div class="container">
                <div class="center">
                    <button type="submit">Log In</button>
                </div>
            </div>
        </form>
    </div>

    <div id='error'>
        <br>
        {{> messages}}
    </div>

</div>