<div id="loginbox">
    <h1>Welcome!</h1>

    <div id="loginform">
        <form>
            <label>Username</label><br>
            <input id="username" type="text"><br>
            <label>Password</label><br>
            <input id="password" type="password">
        </form>
        <p>Don't have an account? Click here to <a href="/signup">Sign Up</a>!</p>
    </div>

    <div class="container">
        <div class="center">
            <button onclick="location.href='/login'">Log In</button>
        </div>
    </div>

    <div id='error'>
        <br>
        {{> messages}}
    </div>

</div>