<link rel="stylesheet" href="/css/viewstyle.css">

<section>

    <span id="entry">Entries</span>
    <div id="entrysect">
        {{#each expenses}}
            {{> entry this}}
        {{/each}}
    </div>

</section>