<link rel="stylesheet" href="/css/signupstyle.css">

<div id="signupbox">
    <h1>Register a new Account</h1>

    <div id="signupform">
        <form action="/signup" method="POST">
            {{> messages}}
            <label>Email</label>
            <input id="email" type="text"><br>
            <label>Username</label>
            <input id="username" type="text"><br>
            <label>Password</label>
            <input id="password1" type="password"><br>
            <label>Confirm Password</label>
            <input id="password2" type="password"><br>

            <p id="login">Already have an account? Click here to <a href="/login">Log in</a>!</p>
            <br>
            <button id="signupbutton" type=submit value="Sign Up">Sign Up</button>
        </form>
    </div>
</div>