<link rel="stylesheet" href="/css/signupstyle.css">

<title>Sign Up</title>

<div id="signupbox">
    <h1>Register a new Account</h1>

    <div id="signupform">
        <form action = "/signup" method="post">
            <label>Email</label>
            <input name="email" id="email" type="text"><br>
            <label>Username</label>
            <input name="username" id="username" type="text"><br>
            <label>Password</label>
            <input name="password" id="password" type="password"><br>
            <label>Confirm Password</label>
            <input name="confirmPass" id="confirmPass" type="password"><br>

            <p id="login">Already have an account? Click here to <a href="/login">Log in</a>!</p>
            <br>
            <button id="signupbutton" type="submit">Sign Up</button>
        </form>
    </div>

    <div id = 'error'>
        <br>
        {{> messages}}
    </div>
</div>