<link rel="stylesheet" href="css/viewstyle.css">

<section>
    <h1>Expenses</h1>
    <span id="entry">Entries</span>
    <div id="entrysect">
        {{!-- insert entries here --}}
        {{#each expense}}
            {{> entry this}}
        {{/each}}
    </div>

</section>