<link rel="stylesheet" href="css/viewstyle.css">

<section>
    <h1>Savings</h1>
    <span id="entry">Entries</span>
    <div id="entrysect">
        {{!-- insert entries here --}}
        {{#each saving}}
            {{> entry this}}
        {{/each}}
    </div>

</section>