<link rel="stylesheet" href="css/accountstyle.css">

<section>
    <h1 id="header">Account Details</h1>

    <div id="details">
        <h2 id="email">Email: &nbsp&nbsp {{email}}</h2>
        <h2 id="username">Username: {{username}}</h2>
        <h2 id="password">Password: ************<h2>
    </div>

    <div id="buttons">
        <a href="/account/delete">
            <button id="delete">Delete</button> <!-- feature TBA -->
        </a>

        <a href="/account/edit">
            <button id="edit">Edit</button>
        </a>

        <a href="/logout">
            <button id="logout">Log out</button>
        </a>
    </div>

</section>