<script src="scripts/view-expenses.js"></script>
<link rel="stylesheet" href="css/viewstyle.css">

<section>
    <span id="entry">Entries</span>
    <div id="entrysect">
        {{!-- insert entries here --}}
    </div>

</section>