<link rel="stylesheet" href="css/viewstyle.css">

<section>

    <h1 id="date">January 2022 </h1>

    <span id="src">Search entry</span>

    <div id="searchbar">
        <input id="search">
    </div>

    <span id="entry">Entries</span>
    <div id="entrysect">
        {{!-- insert entries here --}}
    </div>

</section>