<link rel="stylesheet" href="css/accountstyle.css">

<section>
    <h1 id="header">Account Details</h1>

    <div id="details">
        <h2 id="email">Email: &nbsp&nbsp email_email@email.com</h2>
        <h2 id="username">Username: myusernameiscool</h2>
        <h2 id="password">Password: ************</h2>
    </div>

    <div id="buttons">
        <button id="delete">Delete</button> <!-- feature TBA -->

        <a href="editaccount.html">
            <button id="edit">Edit</button>
        </a>

        <a href="/logout">
            <button id="logout">Log out</button>
        </a>
    </div>

</section>