#month {
    margin: 5px 0px 10px 5px;
    /* margin-left: 3%; */
}

section {
    padding: 2%;
    box-sizing: border-box;
}

/* BALANCE */

#topsection {
    /* margin: 10px 0px;  */
    box-sizing: border-box;
    height: 170px;
    width: 100%;
}

.quickinfo {
    width: 32.3%; 
    height: 90%;
    background-color: var(--box-color);
    border-radius: 30px;
    box-sizing: border-box;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    margin: 0.5%;
}

.quickinfo input {
    border: 0;
    border-bottom: 1px solid;
    background-color: transparent;
    font-size: 16pt;
    font-weight: bold;
}

.quickinfo > a {
    cursor: pointer;
    text-decoration: underline;
}

.edit {
    font-size: 8pt;
    color: var(--text-color);
    float: right;
}

.edit:hover {
    cursor: pointer; 
    text-decoration: underline; 
}

#balance > h1 {
    font-size: 16pt;
}

.typelabel {
    float: left; 
}

.amount {
    float: right;
    padding-right: 30px; 
}

.container {
    padding-top: 15px;
    padding-left: 20px; 
    padding-right: 20px;
    border-top-color: var(--box-color);
    border-radius: 5px;
}

.container > span {
    font-size: 8pt; 
}

/* BUDGET */
#budget {
    border-top-style: solid; 
    border-top-width: thick; 
}

#budget > h2 {
    padding-bottom: 10px;
    font-size: 16pt;
}

#budget > h1 {
    padding-top: 10px;
    padding-bottom: 5px;
}

/* SAVINGS GOAL */

#savingsgoal {
    border-top-style: solid;
    border-top-width: thick;
}

#savingsgoal > h2 {
    padding-bottom: 10px;
    font-size: 16pt;
}

#savingsgoal > h1 {
    padding-top: 10px;
    padding-bottom: 5px;
}

::placeholder {
    color: var(--text-color);
}

/* ENTRIES */

#bottomsection {
    margin: 10px 0px;
}

#entries {
    height: auto;
    width: auto;
    margin: 10px;
}

.entry {
    box-sizing: border-box;
    margin: 0px 10px 20px 5px;
    background-color: var(--box-color);
    width: 100%;
    height: 100px;
    padding: 15px;
    border-radius: 30px;
}

.entry > .description, .entry > .date {
    padding-left: 20px;
}

.entry > .entryType, .entry > .amount {
    float: right; 
    padding-right: 20px;
}

.entry> .description, .entry > .entryType {
    font-size: 30px;
}

.entry:hover {
    background-color: var(--box-color-dark);
    cursor: pointer;
    transition: 0.5s;
}

