@font-face {
    font-family: IBM Plex Mono;
    src: url(IBMPlexMono-Regular.ttf);
}

:root {
    /* primary-color is the color of components like the menubar and buttons */
    --primary-color: #1D3557;
    --primary-dark: #0e2749;
    --secondary: #457B9D;
    --header-text: #F1FAEE;
    --background-color: #F1FAEE;
    /* box-color is the color of entries */
    --box-color: #A8DADC;
    --box-color-dark: #7ec1c4;
    --text-color: #1D3557;
    --text-opposite: #F1FAEE;
    --cancel: #E63946;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: IBM Plex Mono;
    color: var(--text-color)
}

header {
    background-color: var(--primary-color);
    height: 50px;
}

/* HEADER STYLES */

header>a {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
    color: var(--header-text);
    text-decoration: none;
}

header>a:hover {
    opacity: 50%;
    transition: 0.3s
}

/* MENU BAR */

#newentry {
    float: right;
}

/* menubar from w3schools */
#menubar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.3s;
}

/* The navigation menu links */
#menubar>a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--secondary);
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
#menubar>a:hover {
    color: var(--text-color);
}

/* Position and style the close button (top right corner) */
#menubar>.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* SEARCH BAR */

#searchbar {
    box-sizing: border-box;
    width: 100%;
    margin: 0.75%
}

#search {
    padding-left: 30px;
    height: 40px;
    width: 98%;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    outline: none;
}

body {
    background-color: var(--background-color);
}