section {
    box-sizing: border-box;
    margin: 3% 20%;
}

#type {
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    font-size: 16pt;
    margin: auto;
    height: 50px;
}

#entrytype {
    font-size: 16pt;
    padding: 5px;
}

#infoinput {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    height: 225px;
}

#leftcolumn {
    box-sizing: inherit;
    float: left;
    width: 60%;
}

text {
    box-sizing: inherit;
    width: 80%;
    margin-bottom: 10px;
    height: 40px;
    padding: 10px;
    border: 0;
    font-size: 14pt;
}

input:focus {
    outline: none;
}

#rightcolumn {
    box-sizing: inherit;
    float: left;
    width: 40%;
}

#amount {
    float: right;
}

#notesarea {
    box-sizing: border-box;
    width: 100%;
    height: 175px;
}

#notes {
    box-sizing: inherit;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

#notes:focus {
    outline: none;
}

#buttons {
    width: 100%;
}

#buttons > button {
    float: right;
    overflow: hidden;
    margin-left: 20px;
    height: 40px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
    font-size: 12pt;
    color: var(--text-opposite);
}

#buttons > button:hover {
    cursor: pointer;
}

#deletebtn {
    background-color: var(--cancel);
}

#editbtn {
    background-color: var(--primary-color);
}